[user]
  name = Gustavo Santos

[github]
  user = gustavofsantos

[alias]
  b             = branch
  c             = commit
  co            = checkout
  changed       = "!git-changed-files"
  st            = status
  s             = status --short
  l             = log --color --abbrev-commit --branches --graph --date=relative --format='%C(auto,yellow)%<(12,trunc)%ar%C(auto,reset) %C(auto,green)%<(10)%h%C(auto,reset) %C(auto,blue)%<(20)%an%C(auto,reset) %s'
  lg            = log --color --graph --abbrev-commit --branches --date=relative --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
  ll		= log --pretty=deploy
  lz		= log --graph --oneline
  lc		= !git-branch-log
  mc		= !git-my-contributions
  rh            = reset --hard
  undo          = reset --soft HEAD~1
  compress	= gc --aggressive --prune=now
  tags          = tag -l
  amend         = commit --amend --reuse-message=HEAD --no-verify
  contributors  = shortlog --summary --numbered
  export        = archive --format=zip --output=repo.zip HEAD
  conflict	= !nvim +DiffviewOpen
  dash		= !gh dash
  nuke		= !git clean -fd && git reset --hard
  sm            = "!f() { default_branch=$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD | sed 's#^origin/##'); test -n \"$default_branch\" || { echo 'origin/HEAD is not set; run git remote set-head origin --auto' >&2; return 1; }; git switch \"$default_branch\"; }; f"

  wta		= "!git-add-worktree"
  wtp           = "!git-prune-worktrees"
  wtc           = "!git-checkout-worktree"
  wtr		= "!git-remove-worktree"

  r             = !GIT_NO_PAGER=1 git l -30 -- .
  ra            = !git r --all
  l             = "!. ~/.githelpers && pretty_git_log"
  la            = !git l --all
  b             = "!. ~/.githelpers && pretty_git_branch"
  bs            = !git checkout $(git branch | fzf)
  ski           = !git stash --keep-index
  lcom		= !git-diff-list-commits
  drev		= !git-diff
  lazy		= !lazygit

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = false
  template = ~/.gitmessage

[core]
  editor = nvim

[merge]
  conflictstyle = diff3

[diff]
  algorithm = histogram

[interactive]
  diffFilter = delta --color-only

[pretty]
  default = format:"%C(yellow)%h %C(blue)%cs %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar'"
  deploy = format:"%h  %cs  %<(24,trunc)%an  %s"

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true

[pager]
  difftool = true
  blame = true

[rerere]
  enabled = true
  autoupdate = true

[branch]
  autosetuprebase = always
  sort = -committerdate

[rebase]
  updateRefs = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[init]
  defaultBranch = main

[fetch]
  prune = true

[help]
  autocorrect = prompt

[delta]
  ; features = side-by-side
  syntax-theme = Nord
  true-color = always
  line-numbers = true
  hyperlinks = true
  navigate = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

[include]
  path = ~/.gitconfig.local
  path = ~/.gitthemes

[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
