""" map leader to space ---------------------
let mapleader=" "

""" plugins ---------------------------------
Plug 'justinmk/vim-sneak'
set surround
set easymotion
set commentary
set ideajoin
set mini-ai
set highlightedyank

""" plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:sneak#label=1

""" idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" common settings -------------------------
set scrolloff=5
set clipboard+=ideaput
set showmode
set ignorecase
set smartcase
set incsearch
set hlsearch
set incsearch
set nonumber
set norelativenumber
set noswapfile
set nobackup
set hidden
set encoding=utf-8
set nohlsearch

""" mappings --------------------------------
" Common LSP mappings
nmap gd <Action>(GotoDeclaration)<CR>
nmap gi <Action>(GotoImplementation)<CR>
nmap gR <Action>(RenameElement)<CR>
nmap g. <Action>(ShowIntentionActions)<CR>
nmap K <Action>(QuickDocumentation)<CR>


" Editor mappings
nmap <leader><leader> <C-^>
nmap <leader>p <Action>(GotoAction)<CR>
nmap <leader>o <Action>(GotoFile)<CR>
nmap <leader>e <Action>(RecentFiles)<CR>
nmap <leader>b <Action>(RecentFiles)<CR>
nmap <leader>l <Action>(FindInPath)<CR>

nmap <leader>ws <Action>(SplitVertically)<CR>
nmap <leader>wS <Action>(SplitHorizontally)<CR>
nmap <leader>wq <Action>(CloseAllEditors)<CR>
map <leader>rc <Action>(RunClass)<CR>
map <leader>tl <Action>(Rerun)
imap <M-l> <Action>(copilot.applyInlays)
nmap <C-\\> <Action>(ActivateTerminalToolWindow)<CR>

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-k> <C-w>k
nmap <C-j> <C-w>j

" -- Window and tab mappings
" Close a window
map <C-q> <Action>(CloseContent)

map <leader>z <Action>(ToggleZenMode)
